html {
  font-size: 62.5%;
  font-family: arial;
}

body {
  margin: 20px;
}

h1 {
  font-size: 2rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.9);
}

#time {
  font-family: monospace;
}

#days::after {
  content: ":";
  font-family: sans-serif;
}

#days {
  font-size: 2em;
}

#days::before {
  content: "days ";
}

#days::after {
  content: ", ";
}

#hours, #minutes, #seconds {
  font-size: 4em;
}

#hours::after, #minutes::after  {
  position: relative;
  top: -0.05em;
  left: 0.05em;
  font-size: 0.7em;
  content: ":";
  font-family: sans-serif;
}

#milliseconds {
  position: relative;
  left: -0.3em;
  font-size: 2em;
}

#milliseconds::before {
  content: ".";
  font-family: sans-serif;
}
